<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.stormlab.crowdsourcing">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crowdsourcing">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".service.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="RestartService" />
            </intent-filter>
        </receiver>
        <service android:name=".wifi.WifiJobService"
                 android:exported="true"
                 android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".service.ForegroundService"
            android:exported="false"
            android:enabled="true"
            android:stopWithTask="false"
            android:foregroundServiceType="location" />
    </application>
</manifest>